<% include ../inc/header %>

<div class="ui grid" ng-controller="AddMessageController">

  <div class="three wide column"><p></p></div>

  <div class="twelve wide column">

    <div class="ui blue segment">
      <h1 class="ui header"><%= title %></h1>

      <div class="ui divided list">

        <form ng-submit="sauvegarder()">
            A partir de
            <div class="ui input focus">
                <input ng-model="message.fromdate" name="fromdate" class="datepicker" >
            </div>
            jusqu'a
            <div class="ui input focus">
                <input ng-model="message.todate" name="todate" class="datepicker">
            </div>
            <br>
            <br>
            <div class="ui input focus">
                <input type="text" ng-model="message.titre" name="title" value="" placeholder="Entrer un objet">
            </div>
            <br>
            <br>
            <div class="ui input focus">
                <input type="text" name="title" value="" placeholder="Beacon">
            </div>
            <br>
            <br>
            <div class="ui input focus">
                <input type="text" placeholder="Destinataire">
            </div>
            <br/>
            <br/>
            <textarea name="content" ckeditor="{}"  ng-model="message.content"></textarea>
            <br/>
            <input class="ui green button" type="submit" value="Enregistrer">
        </form>

        {{message.titre}}
        <br/>
        {{message.content}}

      </div>
    </div>
  </div>

  <div class="one wide column"><p></p></div>
</div>

<script type="text/javascript">
    $(function() {
        $( ".datepicker" ).datepicker();
    });
</script>

<% include ../inc/footer %>
