<% include ../inc/header %>


<div class="ui grid">

  <div class="three wide column"><p></p></div>

  <div class="twelve wide column">

    <div class="ui blue segment">
      <h1 class="ui header"><%= title %></h1>

      <div class="ui divided list">
        <% messages.forEach(function(message){ %>
          <div class="item">
            <i class="large chat middle aligned icon"></i>
            <div class="content">
              <a class="header"><%= message.titre %> </a>
              <div class="description"><%= message.getPeriod %></div>
            </div>
          </div>
        <% }); %>
      </div>
    </div>
  </div>

  <div class="one wide column"><p></p></div>
</div>

<% include ../inc//footer %>