<% include ../inc/header %>


<div class="ui grid">

  <div class="three wide column"><p></p></div>

  <div class="twelve wide column">

    <h2 class="ui header inverted blue  segment">
      <i class="conversation icon"></i>
      <div class="content">
        <%= title %>
      </div>
    </h2>

      <div class="ui feed">
        <% messages.forEach(function(message){ %>
        <div class="ui event">
          <div class="content">
            <div class="ui segment">
              <h4 class="ui header"><%= message.titre %></h4>
              <div class="date"><%= message.getPeriod %></div>
              <div class="meta">
                <i class="user icon"></i> <%= message.destinataires.length %> personnes contactées
              </div>
            </div>
          </div>
        </div>
        <% }); %>
      </div>

  </div>

  <div class="one wide column"><p></p></div>
</div>

<% include ../inc//footer %>
