<% include ../inc/header %>

<div class="ui grid" ng-controller="AddBeaconController">

  <div class="three wide column"><p></p></div>

  <div class="twelve wide column">

    <div class="ui blue segment">
      <h1 class="ui header"><%= title %></h1>

      <div class="ui divided list">
        <form ng-submit="sauvegarder()">
            <div class="ui input">
                <input type="text" ng-model="beacon.nom" name="nom" placeholder="Nom du beacon">
            </div>
            <div class="ui input">
                <input type="text" ng-model="beacon.uuid" name="uuid" placeholder="Beacon" placeholder="UUID du beacon">
            </div>
            <input class="ui green button" type="submit" value="Enregistrer">
        </form>
      </div>

      <table class="ui celled padded table">
        <thead>
            <tr>
                <th>Noms</th>
                <th>UUID</th>
                <th>Actions</th>
            </td>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="beacon in beacons">
              <td>{{beacon.nom}}</td>
              <td>{{beacon.UUID}}</td>
              <td class="center aligned collapsing"><i class="circle inverted red large remove link icon" ng-click="delete(beacon)"></i></td>
            </tr>
        </tbody>
      </table>

    </div>
  </div>

  <div class="one wide column"><p></p></div>
</div>

<% include ../inc/footer %>
