<% include ../inc/header %>


<div class="ui grid" ng-controller="AddBeaconController">

  <div class="three wide column"><p></p></div>

  <div class="twelve wide column">

    <h2 class="ui header inverted blue segment">
      <i class="bullseye icon"></i>
      <div class="content">
        <%= title %>
      </div>
    </h2>
    <br>
    <div class="ui cards">
      <form class="card ui form" ng-cloak>
        <div class="content">
          <div class="field ng-class:{'error' : error.nom}">
            <input type="text" ng-model="beacon.nom" name="nom" placeholder="Nom du beacon">
            <div class="ui pointing red label" ng-if="error.nom">{{error.nom.message}}</div>
          </div>
          <div class="field ng-class:{'error' : error.UUID}">
            <input type="text" ng-model="beacon.uuid" name="uuid" placeholder="UUID du beacon">
            <div class="ui pointing red label" ng-if="error.UUID">{{error.UUID.message}}</div>
          </div>
        </div>
        <div class="extra content">
          <div class="ui two buttons">
            <input class="ui basic green button" type="submit" value="Enregistrer" ng-click="sauvegarder()">
          </div>
        </div>
      </form>
      <div class="card" ng-repeat="beacon in beacons" ng-cloak>
        <div class="content">
          <i style="float:right;" class="large floated mini ui bullseye middle aligned icon"></i>
          <div class="header">
            {{ beacon.nom}}
          </div>
          <div class="description">
            {{ beacon.UUID}}
          </div>
          <div class="date de creation">
            {{ beacon.dateCreation | date : 'dd-MM-yyyy | HH : mm'}}
          </div>

        </div>
        <div class="extra content">
          <div class="ui two buttons">
            <div class="ui basic red button" ng-click="delete(beacon)">Supprimer</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="one wide column"><p></p></div>
</div>


<% include ../inc/footer %>
