<% include inc/header %>


<div class="ui grid">

  <div class="three wide column"><p></p></div>

  <div class="twelve wide column">

    <div class="ui blue inverted segment">
      <h1 class="ui header">
        <img src="/img/epsi-logo.png" class="ui bordered circular image" style="background-color: white">
        <div class="content">
        <%= title %>
        <div class="sub header">Plateforme de contact de l'EPSI</div>
        </div>
      </h1>
    </div>

    <div class="ui four stackable cards">
      <a class="card" href="/users">
        <div class="content">
          <div class="header">Les utilisateurs</div>
          <div class="meta">
            <span class="category">Modifier/supprimer des utilisateurs</span>
          </div>
        </div>
      </a>
      <a class="card" href="/messages">
        <div class="content">
          <div class="header">Les messages</div>
          <div class="meta">
            <span class="category">Liste des messages envoyés</span>
          </div>
        </div>
      </a>
      <a class="card" href="/messages/edit">
        <div class="content">
          <div class="header">Envoyer un message</div>
          <div class="meta">
            <span class="category">Envoyer un message push ou beacon</span>
          </div>
        </div>
      </a>
      <a class="card" href="/beacons">
        <div class="content">
          <div class="header">Gerer les beacons</div>
          <div class="meta">
            <span class="category">Créer / Supprimer les beacons</span>
          </div>
        </div>
      </a>
      <a class="card" href="/groupes">
        <div class="content">
          <div class="header">Gerer les groupes</div>
          <div class="meta">
            <span class="category">Créer / Supprimer les groupes</span>
          </div>
        </div>
      </a>
    </div>

  </div>

  <div class="one wide column"><p></p></div>
</div>

<% include inc//footer %>
