<% include inc/header %>


<div class="ui grid">

  <div class="three wide column"><p></p></div>

  <div class="twelve wide column">

    <div class="ui blue inverted segment">
      <h1 class="ui header">
        <img src="/img/epsi-logo.png" class="ui bordered circular image" style="background-color: white">
        <div class="content">
        <%= title %>
        <div class="sub header">Plateforme de contact de l'EPSI</div>
        </div>
      </h1>
    </div>

    <div class="ui four stackable cards">
          <a class="card" href="/monCompte">
            <div class="content">
              <div class="header">Mon compte</div>
              <div class="meta">
                <span class="category">Information du compte de l'utilisateure</span>
              </div>
            </div>
          </a>
          <a class="card" href="/messages">
            <div class="content">
              <div class="header">Les messages</div>
              <div class="meta">
                <span class="category">Liste des messages envoyés</span>
              </div>
            </div>
          </a>
          <a class="card" href="/messages/edit">
            <div class="content">
              <div class="header">Envoyer un message</div>
              <div class="meta">
                <span class="category">Envoyer un message flash ou beacon</span>
              </div>
            </div>
          </a>


      <a class="card" href="/users">
        <div class="content">
          <div class="header">Les utilisateurs</div>
          <div class="meta">
            <span class="category">Modifier/supprimer des utilisateurs</span>
          </div>
        </div>
      </a>
      <a class="card" href="/users/viewAdmin">
         <div class="content">
            <div class="header">Les Administrateur</div>
            <div class="meta">
              <span class="category">Modifier/supprimer les Administrateur</span>
            </div>
         </div>
      </a>
      <a class="card" href="/users/guest">
         <div class="content">
            <div class="header">Les Guest</div>
            <div class="meta">
              <span class="category">Desactiver/Modifier/supprimer les Guest</span>
            </div>
         </div>
      </a>
      <a class="card" href="/users/edit">
        <div class="content">
          <div class="header">Créer un utilisateur</div>
          <div class="meta">
            <span class="category">Créer un utilisateur</span>
          </div>
        </div>
      </a>
      <a class="card" href="/groupes">
        <div class="content">
          <div class="header">Gérer les listes de diffusion</div>
          <div class="meta">
            <span class="category">Créer/Modifier/supprimer les liste de difusion</span>
          </div>
        </div>
      </a>

          <a class="card" href="/beacons">
            <div class="content">
              <div class="header">Gerer les beacons</div>
              <div class="meta">
                <span class="category">Créer / Supprimer les beacons</span>
              </div>
            </div>
          </a>


    </div>

  </div>

  <div class="one wide column"><p></p></div>
</div>

<% include inc//footer %>
