<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title><%- title %></title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/components/semantic/dist/semantic.min.css">
  <% if (ENV_DEVELOPMENT) { %>
  <script src="http://localhost:35729/livereload.js"></script>
  <% } %>
</head>
<body>

<div class="ui blue three item inverted menu">
  <div class="item">
    <h2 class="ui image inverted header">
      <img src="/img/epsi-logo.png" class="image">
      <div class="content">
        Se connecter au backoffice
      </div>
    </h2>
  </div>
</div>

<div class="ui middle aligned center aligned grid" style="padding-top: 50px">
  <div class="six wide column">
    <form class="ui large form" action="/login" method="POST">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="user" placeholder="Adresse email">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" name="password" placeholder="Password">
          </div>
        </div>
        <input class="ui fluid large blue submit button" type="submit" value="Connexion"/>
      </div>
    </form>

    <% if (message.length > 0) { %>
    <div class="ui error message">
      <div class="header"><%= message %></div>
    </div>
    <% } %>

  </div>
</div>
<% include inc/footer %>
