<% include header %>

  <h1><%-title %></h1>

  <form method="post" action="loggedIn">
    <label >User</label>
    <br>
    <input type="text" name="user">
    <br><br>
    <label for="">Password</label>
    <br>
    <input type="password" name="password">
    <br>
    <input type="submit">
  </form>

<% include footer %>