ion-list.list-bottom{
	position: absolute;
	width: 100%;
	bottom: 0;
}

ion-list.list-bottom div.list{
	text-align: center;
}

ion-list.list-bottom div.list .item{
	font-size: 35px;
	font-weight: normal;
	color: #387ef5;
}

ion-list.list-bottom div.list .item a.item-content{
	padding-right: 0;
}

.list .item .input-label.focus {
  font-weight: bold;
  opacity: 0.7;
  filter: alpha(opacity=70);
  padding: 0;
  text-transform: uppercase;
  -webkit-transform: translate3d(0, -60px, 0) scale(0.9);
  transform: translate3d(0, -60px, 0) scale(0.9);
}
