ion-list.list-bottom{
	position: absolute;
	width: 100%;
	bottom: 0;
}

ion-list.list-bottom div.list{
	text-align: center;
}

ion-list.list-bottom div.list .item{
	font-size: 35px;
	font-weight: normal;
	color: #387ef5;
}

ion-list.list-bottom div.list .item a.item-content{
	padding-right: 0;
}

.list .item .input-label.focus {
  font-weight: bold;
  opacity: 0.7;
  filter: alpha(opacity=70);
  padding: 0;
  text-transform: uppercase;
  -webkit-transform: translate3d(0, -60px, 0) scale(0.9);
  transform: translate3d(0, -60px, 0) scale(0.9);
}

.login .placeholder-icon{
	color: white;
    vertical-align: middle;
}

.ionic.login{
	background-color: #0C3E6B;
    padding-bottom: 10px;
}

.logoContainer{
	display: inline-block;
	padding: 30px;
	border-radius: 50%;
	background-color: white;
}

.item-avatar .item-content > i:first-child{
	position: absolute;
    top: 0;
    left: 0px;
    max-width: 60px;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    padding-top: 25px;
    color: white;
    background-color: #ef473a;
}

.bar .button i.icon {
	font-size: 35px;
	line-height: 42px;
}

ion-side-menu  .list .item.item-assertive{
	height: 65px;
	text-align: center;
	font-size: 16px;
	padding-top: 30px;
}

.logoContainer img{
	width:80px;
}

.item-avatar .item-title{
	padding-top: 10px;
    display: inline-block;
}

.item-avatar .item-note{
	font-size: 11px;
	float: right;
    position: absolute;
    top: 5px;
    right: 30px;
}

.item-content h2{
	padding-top: 17px;
    padding-left: 15px;
    display: inline-block;
}

.item.item-input.item-md-label{
	border : 0px;
}

.item.item-avatar.headerMessage{
    background: #0C3E6B;
    height: 150px;
    overflow: inherit;
    padding: 0;
}
.item.item-avatar.headerMessage p{
    text-align: right;
    color: white;
    padding-right: 15px;
    padding-top: 15px;
}
   

.typeMessageContainer{
    position: absolute;
    width: 100%;
    bottom: -45px;
    text-align: center;
}

.nameIconContainer{
    position: absolute;
    width: 100%;
    bottom: -15px;
    text-align: center;
}

i.material-icons.typeMessageIcon,span.nameIcon {
	padding: 25px;
    background: #ef473a;
    border-radius: 50%;
    color:white;
    font-size: 40px;
}


.item.item-divider.messageTitleContainer{
	background: #f8f8f8;
    padding-bottom: 85px;
    padding-top: 40px;
    z-index: 0;
}
.item.item-divider.messageTitleContainer h2{
	margin-top: 15px;
    font-size: 18px;
}

ion-side-menu .item-icon-left .icon{
	font-size:24px;
    color: white;
}

.menu.menu-left{
	background: #0C3E6B;
}

.menu.menu-left .list .item{
	border : 0;
	border-bottom: 1px solid #04537F;
	color : white;
}
    