<% include ../inc/header %>
<div class="ui grid" ng-controller="AddUserController" ng-init='user=<%- JSON.stringify(newUser) %>'>

  <div class="three wide column"><p></p></div>

  <div class="twelve wide column">

    <h2 class="ui header inverted blue  segment">
      <i class="icons">
        <i class="user icon"></i>
        <i class="corner write blue icon"></i>
      </i>

      <div class="content">
        <%= title %>
      </div>
    </h2>

    <div class="ui segment">
      <form ng-submit="sauvegarder()" class="ui form"
        <% if(newUser == null) { %>
            ng-init="editPassword = true"
        <% } %>
      >
        <div class="field ng-class:{'error' : error.email}">
          <label>Email</label>
          <input type="text" ng-model="user.email" name="title" value="" placeholder="Entrer un email">

          <div class="ui pointing red label" ng-if="error.email">{{error.email.message}}</div>
        </div>
        <div class="inline field">
          <label>Administrateur :</label>
          <input type="checkbox" name="isAdmin" ng-model="user.isAdmin"/>
        </div>
        <% if(newUser != null) { %>
        <div class="inline field ng-class:{'error' : error.password}">
          <label>Modifier le mot de passe ? :</label>
          <input type="checkbox" ng-model="editPassword">
        </div>
        <% } %>
        <div class="two fields ng-class:{'error' : error.password}" ng-if="editPassword">
          <div class="field">
            <label>Mot de passe</label>
            <input type="password" ng-model="user.password" name="title" placeholder="*******">

            <div class="ui pointing red label" ng-if="error.password">{{error.password.message}}</div>
          </div>
          <div class="field">
            <label>Répeter le mot de passe</label>
            <input type="password" ng-model="user.passwordRepeat" name="title" placeholder="*******">

            <div class="ui pointing red label" ng-if="error.password">{{error.password.message}}</div>
          </div>
        </div>
        <div class="two fields">
          <div class="field ng-class:{'error' : error.lastName}">
            <label>Nom</label>
            <input type="text" ng-model="user.lastName" name="title" value="" placeholder="Entrer un nom">

            <div class="ui pointing red label" ng-if="error.lastName">{{error.lastName.message}}</div>
          </div>
          <div class="field ng-class:{'error' : error.firstName}">
            <label>Prenom</label>
            <input type="text" ng-model="user.firstName" name="title" value="" placeholder="Entrer un prenom">

            <div class="ui pointing red label" ng-if="error.firstName">{{error.firstName.message}}</div>
          </div>
        </div>
        <div class="field">
          <label>Listes de diffusion</label>
          <select class="ui fluid dropdown" multiple="" ng-model="user.groupes" ng-dropdown="{'key':'nom'}" ng-dropdown-choice="groupes">
          </select>
        </div>


        <div class="three fields">
          <div class="field"></div>
          <div class="field">
            <input class="ui green fluid button" type="submit" value="Enregistrer">
          </div>
          <div class="field"></div>
        </div>
      </form>
    </div>
  </div>

  <div class="one wide column"><p></p></div>
</div>

<% include ../inc/footer %>
