<% include ../inc/header %>

<div class="ui grid">
<div class="three wide column"><p></p></div>
<form id        =  "uploadForm"
     enctype   =  "multipart/form-data"
     action    =  "/users/sendXls"
     method    =  "post"
>
<input type="file" name="usersXls" style="margin-right:50px;"/>
<div class="ui vertical animated button" tabindex="0">
  <div class="hidden content"><input type="submit" value="Upload XLS" name="submit"></div>
  <div class="visible content">
    <i class="download icon"></i>
  </div>
</div>

</form>

</div>
<% include ../inc//footer %>
