<script src="/components/jquery/dist/jquery.js"></script>
<script src="/components/semantic/dist/semantic.js"></script>
<script src="/components/jquery-ui/jquery-ui.js"></script>
<script src="/components/angular/angular.js"></script>
<script src="/components/angular-ckeditor/angular-ckeditor.js"></script>
<script src="/components/angular-sanitize/angular-sanitize.js"></script>
<script src="/components/angular-sanitize/angular-sanitize.js"></script>
<script src="/js/ng-semantic.js"></script>
<script src="/js/app.js"></script>


<script type="text/javascript">
  $(function() {
    $( ".datepicker" ).datepicker();
  });
</script>

</body>
</html>
