<script src="/components/jquery/dist/jquery.js"></script>
<script src="/components/semantic/dist/semantic.js"></script>
<script src="/components/jquery-ui/jquery-ui.js"></script>
<script src="/components/notie/notie.js"></script>
<script src="/components/angular/angular.js"></script>
<script src="/components/angular-ckeditor/angular-ckeditor.js"></script>
<script src="/components/angular-sanitize/angular-sanitize.js"></script>
<script src="/components/checklist-model/checklist-model.js"></script>
<script src="/components/angular-resource/angular-resource.js"></script>
<script src="/components/ng-dialog/js/ngDialog.min.js"></script>
<script src="/js/ng-semantic.js"></script>
<script src="/js/app.js"></script>
<script src="/js/services.js"></script>


<script type="text/javascript">
  $(function() {
    $( ".datepicker" ).datepicker({ dateFormat: 'dd/mm/yy' });
  });
</script>

</body>
</html>
