<!doctype html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title><%- title %></title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/components/semantic/dist/semantic.min.css">
  <% if (ENV_DEVELOPMENT) { %>
  <script src="http://localhost:35729/livereload.js"></script>
  <% } %>
  <script src="/components/ckeditor/ckeditor.js"></script>
</head>
<body>

<div class="ui blue left fixed vertical inverted menu">
  <div class="item">
    <div class="menu">
      <a class="item">
        Mon compte
      </a>
      <a href="/logout" class="item">Déconnexion</a>
      <a href="/messages" class="item">Les messages</a>
      <a href="/messages/edit" class="item">Créer un messages</a>
    </div>
  </div>
</div>
</div>
