<!doctype html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title><%- title %></title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/components/semantic/dist/semantic.min.css">
  <link rel="stylesheet" href="/components/jquery-ui/themes/base/jquery-ui.css">
  <link rel="icon" href="/img/favicon.png">
  <% if (ENV_DEVELOPMENT) { %>
  <script src="http://localhost:35729/livereload.js"></script>
  <% } %>
  <script src="/components/ckeditor/ckeditor.js"></script>
</head>
<body ng-app="beacon">

<div class="ui blue left fixed vertical inverted menu">
  <div class="item">
    <a class="header" href="/"><i class="home icon"></i>Accueil</a>
  </div>
  <div class="item">
    <div class="header"><i class="user icon"></i>Prenom Nom</div>
    <div class="menu">
      <a class="item">
        Mon compte
      </a>
      <a href="/logout" class="item">Déconnexion</a>
    </div>
  </div>
  <div class="item">
    <div class="header"><i class="chat icon"></i>Messages</div>
    <div class="menu">
      <a href="/messages" class="item">Les messages</a>
      <a href="/messages/edit" class="item">Créer un messages</a>
    </div>
  </div>
  <div class="item">
    <div class="header"><i class="users icon"></i>Utilisateurs</div>
    <div class="menu">
      <a href="/users" class="item">Les utilisateurs</a>
      <a href="/users/edit" class="item">Créer un utilisateur</a>
      <a href="/groupes" class="item">Gérer les groupes</a>
    </div>
  </div>
  <div class="item">
    <div class="header"><i class="feed icon"></i>Beacons</div>
    <div class="menu">
      <a href="/beacons" class="item">Gérer les beacons</a>
    </div>
  </div>
</div>
</div>
