<ion-view view-title="Mes Messages" hide-back-button="true">
  <ion-nav-bar class="bar-positive">
    <ion-nav-buttons side="left">
      <button class="button  button-clear" ng-click="showMenu()">
        <i class="icon ion-navicon"></i>
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button  button-clear" ng-click="refresh()">
        <i class="icon ion-ios-reload"></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
  <div class="bar item-input-inset">
    <label class="item-input-wrapper">
      <i class="icon ion-ios-search placeholder-icon"></i>
      <input type="text" placeholder="Search" ng-model="search.query" ng-change="search()">
    </label>
    <button class="button button-clear">
      Cancel
    </button>
  </div>
    <ion-list ng-init="refresh()">
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="message in displayMessages" type="item-text-wrap" href="#/messages/{{message._id}}">

        <img class="typeMessage" ng-src="img/{{message.typeMessage}}.png">
        <h2>{{message.titre}}</h2>
        <p ng-if="message.fromDate!=null || message.toDate!=null">
          <span ng-if="message.fromDate!=null">
            À partir de {{message.fromDate | date:'dd/MM/yyyy à HH:mm:ss'}}
          </span>
          <span ng-if="message.toDate!=null">
            Jusqu'au {{message.toDate | date:'dd/MM/yyyy à HH:mm:ss'}}
          </span>
        </p>

        <p ng-if="message.fromDate==null && message.toDate==null">
         Le {{message.dateCreation | date:'dd/MM/yyyy à HH:mm:ss'}}
        </p>

        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(message)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
