
    <ion-view view-title="Connexion" hide-back-button="true">
      <ion-nav-bar class="bar-positive">
      </ion-nav-bar>
      <ion-content>
        <div class="row row-center">
          <div class="col col-100">
            <div class="card">
              <div class="item">
                <div class="list">
                  <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" ng-model="user.username">
                  </label>
                  <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" ng-model="user.password">
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="padding">
          <button class="button button-block button-positive" ng-click="signIn(user)">
            Sign-In
          </button>
        </div>

        <div class="padding">
          <button class="button button-block button-royal" ng-click="showPopup()">
            Guest
          </button>
        </div>

        <div class="card positive" ng-if="messageError">
          <div class="item item-text-wrap">
            {{messageError}}
          </div>
        </div>
      </ion-content>
    </ion-view>
