<ion-view view-title="Connexion" class="loginView" hide-back-button="true">
  <ion-content>
    <div class="ionic login" ng-app="login">
      <div class="hero no-header flat">
          <div class="content">
            <div class="logoContainer">
              <img src="img/EPSI.png">
            </div>
          </div>
      </div>
      <div class="list">
          <label class="item item-input item-md-label" highlight-color="light" type="text">
            <i class="icon ion-person placeholder-icon"></i>
            <input type="text" placeholder="Email" ng-model="user.username">
            <div class="highlight highlight-balanced"></div>
          </label>
          <label class="item item-input item-md-label" highlight-color="energized" type="password">
            <i class="icon material-icons placeholder-icon">lock_outline</i>
            <input type="password" placeholder="Password" ng-model="user.password">
            <div class="highlight highlight-energized"></div>
          </label>
      </div>
      <div class="padding">
          <button class="button button-block bar-assertive waves-effect waves-button waves-light" ng-click="signIn(user)">
            Login
          </button>
          <button class="button button-block button-light waves-effect waves-button waves-light" ng-click="showPopup()">
            Mode invité
          </button>
      </div>
    </div>
  </ion-content>
</ion-view>
