<ion-view view-title="Détails du message">
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
  <ion-content class="padding">
    <div class="item item-avatar">
      <img src="img/user.png">
      <h2>{{message.nom}}</h2>
      <p>{{message.fromDate}}-{{message.toDate}}</p>
    </div>
    <div class="card">
      <div class="item item-divider">
        {{message.titre}}
      </div>
      <div class="item item-text-wrap" ng-bind-html="message.message"></div>
    </div>
  </ion-content>
</ion-view>
