<ion-view view-title="Détails du message">
  <ion-nav-bar class="bar-assertive">
    <ion-nav-back-button></ion-nav-back-button>
  </ion-nav-bar>
  <ion-content>
    <div class="item item-avatar headerMessage">
      <div class="typeMessageContainer">
          <i class="material-icons typeMessageIcon">{{message.icon}}</i>
      </div>
      <p>
       {{moment(message.dateCreation).fromNow()}}
      </p>
    </div>
    <div>
      <div class="item item-divider messageTitleContainer">
        <h2>{{message.titre}}</h2>
      </div>
      <div class="item item-text-wrap" ng-bind-html="message.message"></div>
    </div>
  </ion-content>
</ion-view>


