<ion-view view-title="Mon Profil" hide-back-button="true">
  <ion-nav-bar class="bar-assertive">
    <ion-nav-buttons side="left">
      <button class="button  button-clear" ng-click="showMenu()">
        <i class="icon ion-navicon"></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <div class="item item-avatar headerMessage">
      <div class="nameIconContainer">
          <span class="nameIcon">{{user.icon}}</i>
      </div>
    </div>
    <div class="item item-divider messageTitleContainer">
      <h2>{{user.username}}</h2>
    </div>
    <div class="list">
      <span class="item item-icon-left">
        <i class="icon material-icons">email</i>
        {{user.email}}
      </span>
      
      <span class="item item-icon-left">
        <i class="icon material-icons">people</i>
        {{user.groupesLabel}}
      </span>
    </div>
  </ion-content>
</ion-view>
