<ion-view view-title="Connexion" hide-back-button="true">
  <ion-nav-bar class="bar-positive">
  </ion-nav-bar>
  <ion-content>
    <div class="ionic login " style="background-image: url('../lib/Ionic-Material-master/docs/img/background-wallpapers-35.jpg');" ng-app="login">
      <div class="hero no-header flat">
          <div class="content">
              <img src="../lib/Ionic-Material-master/docs/img/EPSI.png">
          </div>
      </div>
      <div class="list">
          <label class="item item-input item-md-label" placeholder="Email" ng-model="user.username" highlight-color="light" type="text"><input type="text"><span class="input-label">Username</span><div class="highlight highlight-balanced"></div></label>
          <label class="item item-input item-md-label" placeholder="Password" ng-model="user.password" highlight-color="energized" type="password"><input type="password"><span class="input-label">Password</span><div class="highlight highlight-energized"></div></label>
      </div>
      <div class="padding">
          <button class="button button-block button-positive waves-effect waves-button waves-light" ng-click="signIn(user)">
            Login
          </button>
          <button class="button button-block button-light waves-effect waves-button waves-light" ng-click="showPopup()">
            Mode invité
          </button>
      </div>
    </div>
  </ion-content>
</ion-view>